.AboutCircle {
  position: absolute;
  width: 720px;
  height: 720px;
  border-radius: 50%;
  background-color: black;
  z-index: -10;
  transform: translate(50%, 15%);
  overflow: hidden;
  // box-shadow: 0px 0px 103px 36px rgba(0, 0, 0, 0.65),
  //   0px 0px 1400px 25px rgba(0, 0, 0, 0.65),
  //   0px 0px 2400px 800px rgba(0, 0, 0, 0.25);
  background: linear-gradient(145deg, #1c1d23, #17181e);
  box-shadow: 30px 30px 62px #0a0b0d, -30px -30px 62px #2a2b35;

  img {
    min-width: 100%;
    object-fit: contain;
  }
}
