.AboutCircle {
  position: absolute;
  top: 85px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  background-color: black;
  z-index: -10;
  overflow: hidden;
  // box-shadow: 0rem 0rem 6.4375rem 2.25rem rgba(0, 0, 0, 0.65),
  //   0rem 0rem 87.5rem 1.5625rem rgba(0, 0, 0, 0.65),
  //   0rem 0rem 150rem 50rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(145deg, #1c1d23, #17181e);
  box-shadow: 1.875rem 1.875rem 3.875rem #0a0b0d,
    -1.875rem -1.875rem 3.875rem #2a2b35;

  img {
    min-width: 100%;
    object-fit: contain;
  }

  @media (max-width: 56.25em) {
    top: 150px;
  }

  @media (max-width: 47.5em) {
    width: 90vw;
    height: 90vw;
    top: 10vw;
  }
}
