.AboutHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-bottom: 100px;

  &__logo {
  }

  &__nav-container {
    display: flex;
    gap: 35px;
  }

  &__talk {
    font-weight: var(--font-weight-bold);
    display: flex;
    gap: 15px;

    &__text {
      border-bottom: 4px solid var(--accented-color);
    }

    &__img {
      max-width: 30px;
      filter: var(--accented-color-filter);
      animation: 0.5s arrow infinite alternate ease-in;
      position: relative;

      img {
        object-fit: contain;
      }
      @keyframes arrow {
        from {
          left: 0;
        }
        to {
          left: 3px;
        }
      }
    }
  }
}
