.AboutHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 6.25rem;

  &__logo {
    display: none;
  }

  &__nav-container {
    display: flex;
    justify-content: center;
    gap: 2.1875rem;
  }

  &__talk {
    font-weight: var(--font-weight-bold);
    // display: flex;
    display: none;
    justify-content: flex-end;
    gap: 0.9375rem;

    &__text {
      border-bottom: 0.25rem solid var(--accented-color);
    }

    &__img {
      max-width: 1.875rem;
      filter: var(--accented-color-filter);
      animation: 0.5s arrow infinite alternate ease-in;
      position: relative;

      img {
        object-fit: contain;
      }
      @keyframes arrow {
        from {
          left: 0;
        }
        to {
          left: 0.1875rem;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .AboutHeader {
    margin-bottom: 30px;
  }
}
