.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  width: 100%;
  max-width: 28.125rem;

  input,
  button,
  textarea {
    border-radius: 0.3125rem;
  }

  input,
  button {
    min-width: 100%;
    height: 3.125rem;
    @media (max-width: 47.5em) {
      height: 4.125rem;
      font-size: 1.6rem;
    }
  }

  textarea,
  input {
    border: 0.0625rem solid var(--white);
    background-color: var(--white-2);

    &::placeholder {
      color: var(--text-color-3);
      font-weight: var(--font-weight-semiBold);
    }
  }

  input {
    text-indent: 1rem;
  }

  textarea {
    padding: 0.9375rem 1rem;
    resize: none;
    height: 12.5rem;

    @media (max-width: 47.5em) {
      font-size: 1.6rem;
    }
  }

  button {
    background-color: var(--white);
    color: var(--text-color-3);
    cursor: pointer;
    transition: all 0.2s;
    font-weight: var(--font-weight-bold);

    &:hover {
      background-color: var(--accented-color);
      box-shadow: 0rem 0.9375rem 1.5625rem hsla(31, 85%, 68%, 0.1);
    }
  }
}
