.Skills__container__inner-container {
  width: 100%;
  height: 7.8125rem;
  background-color: var(--element-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5625rem;

  @media (max-width: 900px) {
    justify-content: center;
  }

  &__img {
    max-width: 3.75rem;
    margin-inline: 2.5rem;
    filter: var(--accented-color-filter);
    @media (max-width: 900px) {
      display: none;
    }
  }

  &__body {
    display: flex;
    gap: 1.25rem;

    &__item {
      width: 6.25rem;
      height: 6.25rem;
      transition: transform 0.3s;
      cursor: pointer;
      text-align: center;

      img {
        object-fit: contain;
      }

      &__name {
        opacity: 0;
        @media (max-width: 760px) {
          opacity: 1;
          font-size: 1.4rem;
        }
      }

      &:hover {
        border-radius: 0.625rem;
        background-color: var(--gray);
        transform: scale(1.5);
      }

      &:hover &__name {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
}
