.MainPage {
  padding: 1.875rem 1.25rem;
  width: 100%;
  max-width: 90rem;
  position: relative;
  margin: auto;
  @media (max-width: 47.5em) {
    padding: 4vw 3vw;
  }
}

@media (max-width: 47.5em) {
  html {
    font-size: 2vw;
  }
}

.bg__waves {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  z-index: -100;
  opacity: 0.4;

  img {
    min-width: 100%;
  }
}

.about {
  height: 53.125rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 7.8125rem;
  width: 100%;

  @media (max-width: 56.25em) {
    height: 70rem;
  }

  @media (max-width: 47.5em) {
    height: 70rem;
  }
}

.Portfolio {
  margin-bottom: 5rem;

  &__container {
    width: 100%;
    background-color: var(--element-color);
    padding: 3.125rem 7.5rem;
    border-radius: 1.5625rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
}

.Skills {
  flex-direction: column;
  margin-bottom: 7.8125rem;

  &__header {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
  }
}

.Contact {
  width: 100%;
  background-color: var(--element-color);
  border-radius: 1.5625rem;
  padding: 3.125rem 1.25rem;
  margin-bottom: 3.125rem;

  &__header {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  &__body {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    @media (max-width: 56.25em) {
      flex-direction: column;
    }

    &__line {
      width: 2px;
      height: 18.75rem;
      background-color: var(--gray);

      @media (max-width: 56.25em) {
        width: 30%;
        height: 2px;
      }
    }
  }
}

.FindMeOn {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  &__header {
    text-align: center;
  }

  &__footer {
    margin-top: 1.5625rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__text {
      font-size: 1rem;

      &__bold {
        font-weight: var(--font-weight-semiBold);
      }
    }
  }
}
