:root {
  --text-color-1: #ffffff;
  --text-color-2: #606060;

  --main-color: #1a1b21;
  --accented-color: #f3b067;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
}
