:root {
  --text-color-1: #ffffff;
  --text-color-2: #606060;

  --main-color: #1a1b21;
  --accented-color: #f3b067;
  --accented-color-filter: invert(97%) sepia(10%) saturate(6174%)
    hue-rotate(309deg) brightness(98%) contrast(93%);
  --element-color: #161619;

  --gray: hsl(0, 0%, 21%);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
}
